*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(11, 4, 17);
 background-color: rgb(224, 84, 154); /
}

header{
    background-color: #f4fafa;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#imagem-principal {
    width: 10%;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #0000CD;
    display: block;
}

h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; 
    text-decoration: double;
    position: relative; 
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid; #0f1942;
    padding: 2%;
    background-color: #d42c19;
   
}
