*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255); /
}

header{
    background-color: #050405;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#imagem-principal {
    width: 10%;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #f8f8f8;
    display: block;
}

h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; 
    text-decoration: double;
    position: relative; 
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid; #0f1942;
    padding: 2%;
    background-color: #db2671;
   
}
